---
import Layout from '@layouts/Layout.astro';
import Canvas from '@components/Canvas.astro';
import Loading from '@/components/Loading.astro';
import Opening from '@/components/Opening.astro';
---

<Layout>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sawarabi+Gothic&display=swap"
    rel="stylesheet"
  />
  <div class="loading">
    <Loading />
  </div>
  <div class="opening">
    <Opening />
  </div>
  <div class="wrapper">
    <Canvas />
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    height: 3000vh;
  }
</style>

<script>
  import { scrollStore } from '@stores/globalStore';
  import Lenis from 'lenis';

  const lenis = new Lenis({
    autoRaf: true
  });
  lenis.on('scroll', (e) => {
    scrollStore.actions.setScrollAmount(e.progress);
    scrollStore.actions.setScrollPercentage(e.scroll);
  });
</script>
