---
import Layout from '@layouts/Layout.astro';
import Canvas from '@components/Canvas.astro';
import Loading from '@/components/Loading.astro';
import Opening from '@/components/Opening.astro';
import ShowRoom from '@/components/ShowRoom.astro';
import RaceMap from '@/components/RaceMap.astro';
---

<Layout>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sawarabi+Gothic&display=swap"
    rel="stylesheet"
  />
  <div class="loading">
    <Loading />
  </div>
  <div class="opening">
    <Opening />
  </div>
  <div class="wrapper">
    <Canvas />
    <div class="contents">
      <div id="scene-showroom" class="scene-container">
        <ShowRoom />
      </div>
      <div id="scene-racemap" class="scene-container">
        <RaceMap />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .contents {
    position: relative;
    margin-top: -100vh;
    margin-top: -100dvh;
  }

  .scene-container {
    position: relative;
  }
</style>

<script>
  import { scrollStore } from '@stores/globalStore';
  import { subscribe } from 'valtio/vanilla';
  import Lenis from 'lenis';

  // Lenisインスタンスを作成
  const lenis = new Lenis({
    autoRaf: true,
    lerp: 0.1, // スムーススクロール値
    wheelMultiplier: 0.8, // ホイールの速度調整
    smoothWheel: true, // スムーススクロールの有効化
    orientation: 'vertical' // スクロール方向
  });

  // スクロールイベントの処理
  lenis.on('scroll', (e) => {
    // スクロールロックが解除されている場合のみスクロール値を更新
    if (!scrollStore.states.scrollStore.isScrollLocked) {
      scrollStore.actions.setScrollAmount(e.progress);
      scrollStore.actions.setScrollPercentage(e.scroll);
    }
  });

  // 初期状態ではスクロールを無効化
  if (scrollStore.states.scrollStore.isScrollLocked) {
    lenis.stop();
  }

  // スクロールロック状態の変化を監視
  subscribe(scrollStore.states.scrollStore, () => {
    if (scrollStore.states.scrollStore.isScrollLocked) {
      // スクロールをロック
      lenis.stop();
      // ページトップへスクロール
      window.scrollTo({ top: 0, behavior: 'auto' });
    } else {
      // スクロールを有効化
      lenis.start();
    }
  });

  // スクロールの実行
  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
