---

---

<div class="loading">
  <p>LOADING...</p>
  <p>Fetching OpenF1 API...</p>
  <p>Loading F1 3Dmodel...</p>
</div>

<style lang="scss">
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
  }
</style>
